<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido a TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-img class="logo" src="assets/imagenes/Logo-Duoc-UC.png" alt="Logo DUOC UC"></ion-img>

    <form (ngSubmit)="iniciarSesion()" #loginForm="ngForm">
      <ion-list class="ion-no-padding">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input 
            [(ngModel)]="formLogin.correo" 
            name="correo"
            type="email" 
            required
            email>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input 
            [(ngModel)]="formLogin.password" 
            name="password"
            type="password" 
            required
            minlength="6">
          </ion-input>
        </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-button 
          expand="block" 
          type="submit" 
          [disabled]="!loginForm.valid || loading">
          Iniciar sesión
        </ion-button>

        <ion-button 
          expand="block" 
          fill="outline" 
          (click)="navegarRegistro()"
          [disabled]="loading">
          Crear cuenta
        </ion-button>
      </div>

      <div class="forgot-password">
        <a [routerLink]="['/recuperar-clave']">
          ¿Olvidaste tu contraseña?
        </a>
      </div>
    </form>
  </div>
</ion-content>